.login-container {
    width: 600px;
    height: 300px;
    border: 2px solid black;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}

.login-container h2 {
    text-align: center;
    font-family: Georgia;
    font-size: 30px;
}

.brugernavn-container input {
    border: 2px solid black;
    width: 300px;
    height: 30px;
    border-radius: 15px;
    text-align: left;
    margin: auto;

}

.adgangskode-container input {
    border: 2px solid black;
}
