:root {
    --mainColor: #185A9C;
    --secondColor: #50B6D0;
    --thirdColor: #4A94B8;
    --white: #FFFFFF; 
    --test: linear-gradient(to left,#4A94B8, #50B6D0, #185A9C)  
}

body {
    background-image: var(--test);
}


.login-container {
    width: 600px;
    height: 300px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    border-radius : 30px;
}

.login-container h2 {
    text-align: center;
    font-family: Georgia;
    font-size: 30px;
}

.brugernavn-container input {
    border: none;
    width: 300px;
    height: 30px;
    border-radius: 25px;
    text-align: left;
    margin: auto;
    display: flex;
    box-sizing: content-box;
    padding: 1px;
    background-color: var(--white);
}

#brugernavnInput:focus {
    border: none;
}

.adgangskode-container input {
    border: none;
    width: 300px;
    height: 30px;
    border-radius: 25px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
    box-sizing: content-box;
    padding: 1px;
}

.institution-container select {
    border: none;
    width: 300px;
    height: 30px;
    border-radius: 25px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
    box-sizing: content-box;
    padding: 1px;
}

.login-button button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 25px;
    border: none;
    width: 100px;
    height: 40px;
    font-size: 30px;
    align-items: center;
    justify-content: center;
}

/* .loginText {
    background: var(--test);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

img {
    margin: auto;
    display: flex;
    justify-content: center;

}
