<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hovedmenu</title>
    <link rel="stylesheet" href="/css/styleIndex.css">
    <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script defer src="/src/script.js"></script>


</head>
<body>
    <h1 id="hello-text" data-name=<%= name %>></h1>
    <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">Log Out</button>
    </form>

    
      <div id="message-container">
        <form id="send-container">
            <input type="text" id="message-input" placeholder="Skriv noget">
            <button type="submit" id="send-button">Send</button>
        </form>
      </div>

</body>
</html>