<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hovedmenu</title>
    <link rel="stylesheet" href="/css/styleIndex.css">
    
</head>
<body>
    <!--<h1>Hello <!%=name%> </h1>
    <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">Log Out</button>
    </form> -->

    <div class="sidebar-container">
        <div class="menu-searchbar-container">
            <div><button type="submit" id="menu" /></div>
            <div><input type="text" id="searchbar" placeholder="Søg" /></div>
            
        </div>
        <div class="grupper-container">
            <button id="tester" type="submit" >Kirugi samtale</button>
            <button type="submit" >Kirugi samtale</button>
            <button type="submit" >Kirugi samtale</button>
        </div>
      </div>
    <div class="chat-container">
        
    </div>

    <script src="/src/script.js"></script>
</body>
</html>